@charset "UTF-8";

/* Common set */
:root {
    --white: #fff;
    --black: #111;
    --purple: #3a1a6a;
}

/* 가운데 영역 */
.container {
    margin: 0 auto;
    position: relative;
    width: 1280px;
}

/* 레이아웃 */
#header {
    background: var(--black);
    width: 100%;
}

#banner {
    position: relative;
}

/* 헤더 영역 */
.header .gnb_left {
    float: left;
}

.header h1 {
    float: left;
}

.header h1 em {
    display: inline-block;
    /* block으로 설정해야 패딩값이 인식됨 */
    padding: 35px 130px 10px;
}

.header h1 em img {
    width: 140px;
}

.header nav ul li {
    float: left;
    /* 가로정렬 */
    width: 110px;
    text-align: center;
    /* border-right: 1px solid #ccc; */
}

.header nav ul li a {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.header .gnb_left ul li a {
    padding: 50px 17px 0;
}

.header .nav_right {
    float: right;
}

.header .nav_right ul li a {
    padding: 50px 13px 0;
}

/* 배너 */
.top_menu {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
}

.top_menu .all_menu ul li {
    float: left;
    margin: 0 24px;
    text-align: center;
    position: relative;
}

.top_menu .all_menu ul ul.hide li::after {
    content: '';
    width: 1px;
    height: 20px;
    background: var(--white);
    position: absolute;
    top: 5px;
    right: -24px;
}

.top_menu .all_menu ul.hide li:last-child::after {
    width: 0;
}

.top_menu .all_menu ul li a {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;
}

.top_menu .all_menu ul li.total {
    margin-top: 1px;
    margin-right: 0px;
}

.top_menu .all_menu ul li.total a {
    border: 1px solid var(--white);
    display: inline;
    font-size: 18px;
    padding: 6px 15px;
}

.top_menu .all_menu ul li.total a:hover {
    background: var(--white);
    border-color: var(--purple);
    color: var(--purple);
}

.top_menu .all_menu ul li.time_table {
    margin-right: 0px;
}

.top_menu .all_menu ul li.time_table a {
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
    padding: 4px 15px;
    transition: all .3s ease-in-out;
}

.top_menu .all_menu ul li.time_table:hover a {
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--white);
}

.top_menu .all_menu ul li.ticketing {
    margin-right: 0px;
}

.top_menu .all_menu ul li.ticketing a {
    background-color: var(--purple);
    border: 1px solid var(--white);
    padding: 4px 15px;
    transition: all .3s ease-in-out;
}

.top_menu .all_menu ul li.ticketing a:hover {
    background-color: var(--purple);
    border-color: var(--purple);
}

.top_menu .all_menu ul .hide {
    float: right;
    display: none;
}

